@model SomeBasicEFApp.Core.Customer

@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get</h2>

<fieldset>
    <legend>Fields</legend>

    <div class="display-label">Firstname</div>
    <div class="display-field">@Model.Firstname</div>

    <div class="display-label">Lastname</div>
    <div class="display-field">@Model.Lastname</div>

    <div class="display-label">Version</div>
    <div class="display-field">@Model.Version</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
