@model IEnumerable<SomeBasicEFApp.Core.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Version
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
            @item.Firstname
        </td>
        <td>
            @item.Lastname
        </td>
        <td>
            @item.Version
        </td>
    </tr>
}

</table>

